<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.llayjun.millet.module.merchant.mapper.MerchantMapper">
    <select id="getMerchantList" resultType="com.llayjun.millet.module.merchant.vo.MerchantVO">
        SELECT merchant.*, merchant_name as merchantName, merchant_logo as merchantLogo FROM merchant;
    </select>
</mapper>
