<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.llayjun.millet.module.task.mapper.MerchantTaskMapper">
    <select id="getMerchantTaskList" resultType="com.llayjun.millet.module.task.vo.MerchantTaskVO">
        SELECT
            task.id AS id,
            task.merchant_id AS merchantId,
            task.task_name AS merchantTaskName,
            task.task_desc AS merchantTaskDesc,
            task.unit_price AS merchantTaskUnitPrice,
            m.merchant_logo AS merchantLogo,
            m.merchant_name AS merchantName
        FROM merchant_task task
            LEFT JOIN merchant m ON task.merchant_id = m.id
    </select>

    <select id="getMerchantTaskCount" resultType="Integer">
        SELECT COUNT(0) FROM merchant_task WHERE merchant_id = #{merchantId}
    </select>

</mapper>
